pipeline/LoadVP.json
{
	"name": "LoadVP",
	"properties": {
		"activities": [
			{
				"name": "GetCompanyIDs",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SunsuriaDM",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT id FROM MyTaman_VP_Companies\n"
						},
						{
							"type": "NonQuery",
							"text": "DELETE Stg_MyTaman_VP_Units"
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCompanyIDs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCompanyIDs').output.resultSets[0].Rows",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "['customer_id']"
											},
											"sink": {
												"name": "customer_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['company_id']"
											},
											"sink": {
												"name": "company_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['project_id']"
											},
											"sink": {
												"name": "project_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['phase_id']"
											},
											"sink": {
												"name": "phase_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vp_status']"
											},
											"sink": {
												"name": "vp_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['loan_drawdown']"
											},
											"sink": {
												"name": "loan_drawdown",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['payment_status']"
											},
											"sink": {
												"name": "payment_status",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['slot_id']"
											},
											"sink": {
												"name": "slot_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['appointment_date_time']"
											},
											"sink": {
												"name": "appointment_date_time",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vp_inventory_checklist_done']"
											},
											"sink": {
												"name": "vp_inventory_checklist_done",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vp_survey_done']"
											},
											"sink": {
												"name": "vp_survey_done",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['key_collected']"
											},
											"sink": {
												"name": "key_collected",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vp_date']"
											},
											"sink": {
												"name": "vp_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['unit_code']"
											},
											"sink": {
												"name": "unit_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['unit_name']"
											},
											"sink": {
												"name": "unit_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['lot_address']"
											},
											"sink": {
												"name": "lot_address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['buyer']"
											},
											"sink": {
												"name": "buyer",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['authorized_name']"
											},
											"sink": {
												"name": "authorized_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['authorized_contact']"
											},
											"sink": {
												"name": "authorized_contact",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['authorized_email']"
											},
											"sink": {
												"name": "authorized_email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['authorized_nric']"
											},
											"sink": {
												"name": "authorized_nric",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['mobile_phone']"
											},
											"sink": {
												"name": "mobile_phone",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['email']"
											},
											"sink": {
												"name": "email",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['address']"
											},
											"sink": {
												"name": "address",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['company_name']"
											},
											"sink": {
												"name": "company_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['project_name']"
											},
											"sink": {
												"name": "project_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['phase_name']"
											},
											"sink": {
												"name": "phase_name",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['units']"
								}
							},
							"inputs": [
								{
									"referenceName": "API_VP_Units",
									"type": "DatasetReference",
									"parameters": {
										"hash": "hash=CX3QfnaR9CjYStUabZtkL5NYeP8w3zM9W77N3zZFQGgghPj2WkbWemGEWntGhkW4xLvD4RnNuAfnTZMyN3B5Rn5gP3dJgMBdmjcYcXvbJkT5mREgVKCzkRkH5HzfUp3p",
										"companyid": {
											"value": "@concat('&company_id=', item().id)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Stg_VP_Units",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy to VP_Units",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SunsuriaDM",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "BEGIN TRAN\n   DELETE [MyTaman_VP_Units];\n   INSERT [MyTaman_VP_Units]\n   SELECT * FROM [Stg_MyTaman_VP_Units] WHERE id IS NOT NULL;\nCOMMIT\n\n"
						}
					]
				}
			}
		],
		"variables": {
			"companyid": {
				"type": "String"
			}
		},
		"annotations": []
	}
}